{% extends 'Admin/base_admin.html' %}

{% block title %}
  formation
{% endblock %}

{% block container %}
 

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <div class="container">

     <!-- div pour ajouter une formation , ce div pourra etre cacher -->
  <p>Cliquer le bouton pour ajouter une formation</p>


  <button class="btn btn-secondary" onclick="myFunction()">Ajouter une formation</button>

  <div id="myDIV">
    <div class="container-fluid px-1 py-5 mx-auto">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
          {% if success %}
            <div class="alert alert-success" role="alert">{{ success }}</div>
          {% endif %}
          {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endif %}
          <div class="card" id = "card">
            <h5 class="text-center mb-4 text-primary">Ajouter une formation</h5>

            <form class="form-card" method="POST" action="{% url "gestion_formations:all_formations" %} ">
              {% csrf_token %}
              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">{{ form.libelle.label_tag }}{{ form.libelle }}</div>
                <div class="form-group col-sm-6 flex-column d-flex">{{ form.symboles_cibles.label_tag }}{{ form.symboles_cibles }}</div>
              </div>
              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">{{ form.validite.label_tag }}{{ form.validite }}</div>
              </div>

              <div class="row justify-content-end">
                <div class="form-group col-sm-6">
                    <br>
                  <input type="submit" class="btn btn-primary btn-sm" value="Ajouter" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function myFunction() {
      var x = document.getElementById('myDIV')
      if (x.style.display === 'none') {
        x.style.display = 'block'
      } else {
        x.style.display = 'none'
      }
    }
    myFunction();
  </script>
  <style>
    #card {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

  </style>






    <div class="row">
      <!-- liste des formations disponibles -->
      <script>
        const couleursBackground = ['bg-primary', 'bg-secondary', 'bg-success', 'bg-danger', 'bg-warning', 'bg-info', 'bg-dark']
        // liste de fa icon
        const iconListe = ['fa-graduation-cap', 'fa-money', 'fa-user-plus', 'fa-users', 'fa-graduation-cap', 'fa-money', 'fa-user-plus', 'fa-users', 'fa-graduation-cap', 'fa-money', 'fa-user-plus', 'fa-users', 'fa-graduation-cap', 'fa-money', 'fa-user-plus', 'fa-users', 'fa-graduation-cap', 'fa-money', 'fa-user-plus', 'fa-users', 'fa-graduation-cap', 'fa-money', 'fa-user-plus', 'fa-users', 'fa-graduation-cap', 'fa-money', 'fa-user-plus', 'fa-users', 'fa-graduation-cap', 'fa-money', 'fa-user-plus', 'fa-users']
      </script>

      {% for formation in formations %}
        <div class="col-lg-3 col-sm-6">
          <div class="card-box" id="card{{ formation.id }}">
            <div class="inner">
              <h3>{{ formation.libelle }}</h3>
              <p class=""> symboles_cibles: {{ formation.symboles_cibles }}</p>
              <p class=""> validite: {{ formation.validite }}</p>
            </div>
            <div class="icon">
              <i id="icon{{ formation.id }}"></i>
            </div>

            <a href="{% url 'gestion_formations:delete' formation.id %}" class="card-box-footer">Supprimer <i class="fa fa-trash"></i></a>
          </div>
        </div>

        <script>
          contsAleatoire = couleursBackground[Math.floor(Math.random() * couleursBackground.length)]
          
          element = document.getElementById('card{{formation.id}}')
          element.classList.add(contsAleatoire)
          
          iconAleatoire = iconListe[Math.floor(Math.random() * iconListe.length)]
          // Assurez-vous que la classe d'icône stockée dans iconAleatoire est correcte et ne contient pas d'espaces HTML
          elementIcon = document.getElementById('icon{{formation.id}}')
          elementIcon.classList.add('fa')
          elementIcon.classList.add(iconAleatoire)
          
          // Ajouter un gestionnaire d'événement de clic à la carte
          element.addEventListener('click', function () {
            // Récupérer l'URL du lien
          
            //window.location.href = "{% url 'gestion_formations:detail_formation' formation.id %}"
          })
        </script>
      {% endfor %}
    </div>
  </div>

  <style>
    .card-box {
      position: relative;
      color: #fff;
      padding: 20px 10px 40px;
      margin: 20px 0px;
    }
    .card-box:hover {
      text-decoration: none;
      color: #f1f1f1;
    }
    .card-box:hover .icon i {
      font-size: 100px;
      transition: 1s;
      -webkit-transition: 1s;
    }
    .card-box .inner {
      padding: 5px 10px 0 10px;
    }
    .card-box h3 {
      font-size: 27px;
      font-weight: bold;
      margin: 0 0 8px 0;
      white-space: nowrap;
      padding: 0;
      text-align: left;
    }
    .card-box p {
      font-size: 15px;
    }
    .card-box .icon {
      position: absolute;
      top: auto;
      bottom: 5px;
      right: 5px;
      z-index: 0;
      font-size: 72px;
      color: rgba(0, 0, 0, 0.15);
    }
    .card-box .card-box-footer {
      position: absolute;
      left: 0px;
      bottom: 0px;
      text-align: center;
      padding: 3px 0;
      color: rgba(255, 255, 255, 0.8);
      background: rgba(0, 0, 0, 0.1);
      width: 100%;
      text-decoration: none;
    }
    .card-box:hover .card-box-footer {
      background: rgba(0, 0, 0, 0.3);
    }
    .bg-blue {
      background-color: #00c0ef !important;
    }
    .bg-green {
      background-color: #00a65a !important;
    }
    .bg-orange {
      background-color: #f39c12 !important;
    }
    .bg-red {
      background-color: #d9534f !important;
    }
  </style>
{% endblock %}
